<nav class="navbar navbar-default" role="navigation">
  	<div class="container-fluid">
  		<div class="collapse navbar-collapse">
  			<ul class="nav navbar-nav">
  				<li><a href="/#/home">Home</a></li>
  				<li><a href="/#/dictionary">Dictionary</a></li>
  				<li><a href="/#/structures">Grammar</a></li>
  				<li><a href="/#/notes">Notes</a></li>
  			</ul>
  		</div>
  	</div>
</nav>
<div class="col-md-4">
	<h2>New Word</h2>
	<div class='dictionary-form'>
		<form method="post" action="/api/new-word">
			<label for="word">Word:</label>
			<input class="form-control" name="word">
			<label for="definition">Definition:</label>
			<input class="form-control" name="definition">
			<label for="classes">Classes:</label>
			<div ng-repeat="class in data.classes">
				<input type="checkbox" name="classes" value="{{class.name}}">
				<span>{{class.name}}</span>
			</div>
			<input type="submit" value="Save">
		</form>
	</div>
</div>
<div class="col-md-4">
	<h2>Your Dictionary</h2>
	<div class="word-template" ng-repeat="word in data.words">
		<p><strong>{{word.word}}</strong></p>
		<p>{{word.definition}}</p>
		<a href="/#/new-transform/{{word._id}}" class="btn btn-success btn-sm"> + Transform</a>
		<button class="btn btn-info btn-sm", ng-click="display(word._id)">View</button>
	</div>
</div>
<div class="col-md-4">
	<h2>{{data.view.word}}</h2>
	<p class="lead">{{data.view.definition}}</p>
		<div ng-repeat="form in data.view.transforms">
			<p>{{form.form}} - {{form.meaning}}</p>
		</div>
		<hr>
</div>