<h2 class='text-center'>Welcome</h2>
<div class="col-md-4">
	<h2>New Language</h2>
	<form method="post" action="/api/new-language">
		<label for="name">Name:</label>
		<input name="name" required>
		<input type="submit" value="Create">
	</form>
	<hr>
	<div ng-repeat="lang in languages">
	<p class="lead">{{lang.name}} - <a href="/#/language/{{lang.name}}">Develop</a></p>
	</div>
</div>
<div class="col-md-4">
	<h2>New Languages</h2>
		<div ng-repeat="newlang in newLanguages">
			<p class="lead">{{newlang.name}} - <a href="/#/language/{{newlang.name}}">Explore</a></p>
		</div>
	<!-- <h2>Popular Languages</h2>
		<div ng-repeat="poplang in popLanguages">
		</div> -->
</div>
<div class="col-md-4">
	<h2>Your News</h2>
		<ul>
			<li ng-repeat="item in news">{{item.message}}<button class='btn btn-danger btn-sm' ng-click="destroyNews(item._id)"> X </button></li>
		</ul>
</div>