<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/#/home">Home</a></li>
          <li><a href="/#/dictionary">Dictionary</a></li>
          <li><a href="/#/structures">Grammar</a></li>
          <li><a href="/#/notes">Notes</a></li>
        </ul>
      </div>
    </div>
</nav>
<h2 class='text-center'>Welcome</h2>
<div class="col-md-4">
	<div ng-repeat="lang in data.languages">
	<h3>{{lang.name}}</h3>
	<a href={{"#/language/"+lang.name}}>Develop</a>
	</div>
</div>
<div class="col-md-4">
	<h2>New Language</h2>
	<form method="post" action="/api/new-language">
		<label for="name">Name:</label>
		<input name="name">
		<input type="submit" value="Create">
	</form>
</div>