<nav class="navbar navbar-default" role="navigation">
  	<div class="container-fluid">
  		<div class="collapse navbar-collapse">
  			<ul class="nav navbar-nav">
  				<li><a href="/#/home">Home</a></li>
  				<li><a href="/#/classes">Classes</a></li>
  				<li><a href="/#/dictionary">Dictionary</a></li>
  				<li><a href="/#/structures">Structures</a></li>
  				<li><a href="/#/transforms">Transforms</a></li>
  			</ul>
  		</div>
  	</div>
</nav>
<div class="row">
  <div class="col-md-4">
    <button class="btn btn-success", ng-click="increment()">Add Transform</button>
    <p class="pull-right">Transform for: <strong>{{data.wordText}}</strong></p>
    <hr>
    <form method="post" action="api/new-transform">
      <div ng-repeat="num in counter">
        <input name="form" placeholder="form {{num}}">
        <input name="meaning" placeholder="meaning {{num}}">
      </div>
      <input name="word" type="hidden" value="{{data.word}}">
      <input type="submit" class="btn btn-default" value="Save">
    </form>
  </div>
</div>