<div class="col-md-6">
  <form method="post" action="/api/new-note">
    <h3>New Note</h3>
    <label for="content">Note:</label>
    <textarea class="form-control" name="content" ng-model="input"></textarea>
    <label for="meaning">Translation:</label>
    <textarea class="form-control" name="meaning" ng-model="meaning"></textarea>
    <label for="example">Set as example for:</label>
    <select name="example" class="form-control">
      <option value="" default></option>
      <option value="">only author can set examples</option>
      <option ng-repeat="word in inputArray" ng-if="isAdmin" value="{{word}}">{{word}}</option>
    </select>
    <input type="hidden" name="id" value="{{id}}">
    <input type="submit" class="btn btn-default">
  </form>
  <p>
    <div ng-repeat="datum in complete track by $index" >
      <p>{{datum}} - {{definitions[datum]}}</p>
  </div>
</div>
<div class="col-md-6">
  <h3>Notes</h3>
  <hr>
  <div class="note-box", ng-repeat="note in notes">
    <p class="note-content"><strong>{{note.content}}</strong></p>
    <p class="note-meaning">{{note.meaning}}</p>
    <div ng-if="isAdmin">
      <button class="btn btn-danger btn-sm"> X </button>
      <button class="btn btn-info btn-sm", ng-click="passtoEdit(note.content, note.meaning, note._id)">Edit</button>
    </div>
  </div>
</div>