<div class="col-md-6">
	<div class="struct-builder" ng-if="isAdmin">
		<h3 class="text-center">Structure Builder</h3>
		<div ng-repeat="class in data.classes" style="display: inline;">
			<button class="btn btn-default btn-sm", ng-click="goblins(class.name)">{{class.name}}</button>
		</div>
		<hr>
		<form method="post" action="api/new-structure">
			<div ng-repeat="datum in formData track by $index">
				<input type="hidden" name="parts" value="{{datum}}">
			</div>
			<label for="name">Name:</label>
			<input class="form-control" name="name">
			<label for="explanation">Explanation:</label>
			<input class="form-control" name="explanation">
			<input type="submit" class="btn btn-default">
		</form>
		<p>
			<span ng-repeat="part in formData track by $index">{{part}}</span>
		</p>
	</div>
	<h3>Structures</h3>
	<hr>
	<div ng-repeat="struct in data.structures">
		<p><strong>{{struct.name}}</strong></p>
		<p>{{struct.explanation}}</p>
		<p><span ng-repeat="part in struct.parts">{{part}}<span ng-if="$index !== struct.parts.length-1"> + </span></span></p>
	</div>
</div>
<div class="col-md-6">
	<div class="class-builder" ng-if="isAdmin">
		<h3 class="text-center">Class Builder</h3>
		<div class='classes-form'>
			<form method="post" action="/api/new-class">
				<input class="form-control" name="className" placeholder="class name">
				<input class="form-control" name="explanation" placeholder="explanation">
				<input class="btn btn-default" type="submit" value="Save">
			</form>
		</div>
	</div>
	<h3>Classes</h3>
	<hr>
	<div class="classes-template", ng-repeat="class in data.classes">
		<p class='lead'>{{class.name}}</p>
		<span>{{class.explanation}}</span>
	</div>
</div>