<nav class="navbar navbar-default" role="navigation">
  	<div class="container-fluid">
  		<div class="collapse navbar-collapse">
  			<ul class="nav navbar-nav">
  				<li><a href="/#/home">Home</a></li>
  				<li><a href="/#/classes">Classes</a></li>
  				<li><a href="/#/dictionary">Dictionary</a></li>
  				<li><a href="/#/structures">Structures</a></li>
  				<li><a href="/#/transforms">Transforms</a></li>
  			</ul>
  		</div>
  	</div>
</nav>
<div class="col-md-4">
	<h2>New Word</h2>
	<div class='dictionary-form'>
		<form method="post" action="/api/new-word">
			<label for="word">Word:</label>
			<input class="form-control" name="word">
			<label for="definition">Definition:</label>
			<input class="form-control" name="definition">
			<label for="classes">Classes:</label>
			<div ng-repeat="class in data.classes">
				<input type="checkbox" name="classes" value="{{class.name}}">
				<span>{{class.name}}</span>
			</div>
			<input type="submit" value="Save">
		</form>
	</div>
</div>
<div class="col-md-4">
	<h2>Your Dictionary</h2>
	<div class="word-template" ng-repeat="word in data.words">
		<h3>{{word.word}}</h3>
		<span>{{word.definition}}</span>
	</div>
</div>