.navbtn {
	margin: 10px;
}

.word-view {
	position: fixed;
}

.news-box {
	position: relative;
	border: 1px solid black;
	padding: 4px;
	border-radius: 5px;
	background-color: gray;
	margin: 3px;
}

.news-box p {
	color: white;
}

.word-box {
	position: relative;
	border: 1px solid black;
	padding: 6px;
	border-radius: 5px;
	margin: 5px;
}

.word-name {
	border-bottom: 1px solid black;
	background-color: #ECECF3;
	border-radius: 5px;
	padding-left: 6px;
	padding-top: 6px;
}